.resigter{

    height:30px;
    flex-direction: row;
    background-color:green;
    display:flex;
    justify-content:space-between;
    align-items: center;
}
.resigterImg{
    position: absolute;
    right:150px;
    bottom:20px;


}
.loginText{
    display:inline-block;
    font-family:"sans serif";
    font-size:26px;
    color:springgreen;
    text-shadow:3px 3px 10px green;
    animation: loginanimate 5s linear infinite alternate;
}
@keyframes loginanimate {
    from{
        transform:translate(800px);

    }to{
         transform:translate(240px);
    transform:scale(2,2);
     }

}
.loginFont{
    font-family: "Apple SD Gothic Neo", "Malgun Gothic", "Nanum Gothic", Dotum, sans-serif;
    font-size:20px;
}
.form-group span,small{
    display:none;
}